
  body{
  background-image: url("https://data.whicdn.com/images/277722125/original.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
 .backg{
  background-color: white;
  padding: 20px 20px 20px 20px;
  margin-top: 100px;
  }
#tabl{
background-color: white;
  width: 200px;
 position: fixed;
}
.home{
  color: white;
}

